body {
    background-image: url('/img/2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.main-block {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    backdrop-filter: blur(5px);
}

.info-block,
.forecast-block {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 3px 3px 2px rgb(0 0 0 / 10%);
}

.info-block {
    border-radius: 15px;
}

.btn-warning {
    --bs-btn-bg:#f7eac2;
    font-family: 'Montserrat', sans-serif;
}

.btn-info {
    --bs-btn-bg: #95e3ef;
    font-family: 'Montserrat', sans-serif;
}
